[Unit]
Description="Warrior HQ GeoIP Helper"

[Service]
Type=simple
Group=tracker
User=tracker
ExecStart=/opt/python-3.8.1/bin/python3.8 geoip.py
WorkingDirectory=/home/tracker/warrior-hq/geoip_helper

[Install]
WantedBy=multi-user.target
